<section class="bg-white" id="facts">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Facts</h2>
                <hr style="border-color: black">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-lg-offset-1 col-lg-offset-problem-1 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-university fa-5x" aria-hidden="true"></i>
                    <h3 class="fact-title-text">A Vulnerable Demographic</h3>
                    <p class="text-muted fact-body-text">Increasingly, university-aged individuals are a growing part of the demographic that is particularly vulnerable to mental health issues, with almost a third of undergraduates reporting symptoms of elevated distress. </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-lg-offset-problem-2 text-center">
                <div class="service-box">
                    <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
                    <h3 class="fact-title-text">Drastic Consequences</h3>
                    <p class="text-muted fact-body-text">In large part due to mental illness, suicide is the 2nd leading cause of death among 15-24 year olds, accounting for 24% of all deaths in this age group. Over 80% of post-secondary students who commit suicide had never participated in counselling services on campus.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-usd fa-5x" aria-hidden="true"></i>
                    <h3 class="fact-title-text">Economic Costs</h3>
                    <p class="text-muted fact-body-text">Mental illnesses can signal a life-long struggle for students with social and productivity costs as consequences, and in turn contribute to long-term burdens to the health care system. The current economic burden of mental illnesses in Canada is $51 billion per year.</p>
                </div>
            </div>
        </div>
    </div>
</section>
