<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1 >Timely</h1>
            <hr>
            <p>Timely is a student-led project based at the University of Toronto St. George campus. Our mission is to reduce wait times to provide timely access to professional psychiatric and psychological intervention for post-secondary students in Canada.</p>
            <a href="#solution" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
