<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>Lorem Ipsum</h1>
            <hr>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus ullamcorper sagittis orci, eu eleifend augue pulvinar id. Donec fermentum fringilla tempus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Vestibulum vel tristique elit. Donec eget massa id eros posuere dapibus. Donec mollis magna in nisi congue eleifend. Phasellus vehicula volutpat diam, id vestibulum nulla convallis vel. Nulla sed ultrices velit. Pellentesque id lobortis metus. In sit amet augue egestas, sollicitudin ante ac, mattis purus.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
