<section class="bg-dark" id="problem">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Challenges</h2>
                <hr class="light">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Cheryl -->
            <div class="col-lg-3 col-lg-offset-1 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-profile-picture" src="../img/profile-pictures/default.png"></img>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <!-- Tiffanie -->
            <div class="col-lg-3 col-lg-offset-problem-2 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-profile-picture" src="../img/profile-pictures/default.png"></img>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
            <!-- Lily -->
            <div class="col-lg-3 col-lg-offset-problem-3 col-md-6 text-center">
                <div class="service-box">
                    <img class="img-profile-picture" src="../img/profile-pictures/default.png"></img>
                    <h3>Sturdy Templates</h3>
                    <p class="text-muted">Our templates are updated regularly so they don't break.</p>
                </div>
            </div>
        </div>
    </div>
</section>
