<section class="bg-white" id="problem">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The Challenges</h2>
                <hr style="border-color: black">
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <!-- Cheryl -->
            <div class="col-lg-3 col-lg-offset-1 col-lg-offset-problem-1 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-university fa-5x" aria-hidden="true"></i>
                    <h3>Education System</h3>
                    <p class="text-muted">Almost a third of undergraduates report symptoms of elevated distress, with university-aged people are part of the demographic group that is most vulnerable to mental health issues. </p>
                </div>
            </div>
            <!-- Tiffanie -->
            <div class="col-lg-3 col-md-6 col-lg-offset-problem-2 text-center">
                <div class="service-box">
                    <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
                    <h3>Placeholder Title</h3>
                    <p class="text-muted">Suicide is the 2nd leading cause of death among 15-24 year olds, accounting for 24% of all deaths in this age group, and over 80% of post-secondary students who commit suicide had never participated in counselling services on campus.</p>
                </div>
            </div>
            <!-- Lily -->
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-usd fa-5x" aria-hidden="true"></i>
                    <h3>Economic Cost</h3>
                    <p class="text-muted">The direct economic burden of mental illness in Canada is over 51 billion dollars in 2015. This does not even account for indirect factors, such as productivity costs, loss of employment, and others.</p>
                </div>
            </div>
        </div>
    </div>
</section>
