<!doctype html>
<html>
  <head>
    <!-- Various Metadata -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A mental health initiative dedicated to helping improve student's mental health across the globe.">
    <meta name="author" content="Timely">

    <!-- Header -->
    {% block head %}
    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <!-- Plugin CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/animate.min.css') }}">
    <!-- Main CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">

    <title>{% block title %}{% endblock %} — Timely</title>
    {% endblock %}

  </head>

  <body id="page-top">
    {% block navbar %}
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="{{ url_for('home') }}">Home</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                  <li>
                      <a class="page-scroll" href="#about">About Us</a>
                  </li>
                  <li>
                      <a method="POST" href="{{ url_for('render_login') }}">Sign In</a>
                  </li>
                  <li>
                      <a class="page-scroll" href="#login">Sign Up</a>
                  </li>
              </ul>
          </div>
          <!-- /.navbar-collapse -->
      </div>
    <!-- /.container-fluid -->
    </nav>
    {% endblock %}

    <!-- Special block for index content -->
    <!-- Not wrapped in a <div> due to styling issues -->
    {% block index %}{% endblock %}

    <!-- Content, to be filled in children templates -->
    <div id="content">{% block content %}{% endblock %}</div>

    <!-- Footer -->
    <footer>
      {% block footer %}
      <hr style="max-width: 100%; border-width: thin; border-color: rgba(1, 1, 1, 0.2);"> 
      <p align="center">&copy; Copyright 2016 by <a href="http://www.timelyproject.com/">Timely</a>. All Rights Reserved.</p>
      {% endblock %}
    </footer>

    <!-- Scripts -->    
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>
    <script src="static/js/jquery.fittext.js"></script>
    <script src="static/js/wow.min.js"></script>
    <script src="static/js/login.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/creative.js"></script>
  </body>
</html>