{% extends "base-template.html" %}
{% block title %}Home{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block index %}
    <!-- Header image & tagline -->
	<header>
	    <div class="header-content">
	        <div class="header-content-inner">
	            <h1 >Timely</h1>
	            <hr class="primary">
	            <p>Timely is a student-led project based at the University of Toronto St. George campus. Our mission is to reduce wait times to provide timely access to professional psychiatric and psychological intervention for post-secondary students in Canada.</p>
	           	<a href="#model" class="btn btn-primary btn-xl page-scroll">Learn More</a>
	        </div>
	    </div>
	</header>

	<!-- Section for information -->
	<section class="bg-white" id="model" style="padding: 50px 0 0 0">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-lg-offset-2 text-center">
	                <h2 class="section-heading">Our Model</h2>
	                <hr class="primary">
	            </div>
	        </div>
	    </div>

	    <div class="container">
	        <div class="row">
	            <div class="col-lg-3 col-lg-offset-1 col-lg-offset-problem-1 col-md-6 text-center">
	                <div class="service-box">
	                    <i class="fa fa-university fa-5x" aria-hidden="true"></i>
	                    <h3 class="advantage-title-text">A Vulnerable Demographic</h3>
	                    <p class="text-muted advantage-body-text">University-aged individuals are a growing part of the demographic that is particularly vulnerable to mental health issues, with almost a third of undergraduates reporting symptoms of elevated distress. </p>
	                </div>
	            </div>
	            <div class="col-lg-3 col-md-6 col-lg-offset-problem-2 text-center">
	                <div class="service-box">
	                    <i class="fa fa-exclamation-triangle fa-5x" aria-hidden="true"></i>
	                    <h3 class="advantage-title-text">Severe Consequences</h3>
	                    <p class="text-muted advantage-body-text">In large part due to mental illnesses, suicide is the 2nd leading cause of death among 15-24 year olds, accounting for 24% of all deaths in this age group. Over 80% of post-secondary students who commit suicide had never participated in counselling services on campus.</p>
	                </div>
	            </div>
	            <div class="col-lg-3 col-md-6 text-center">
	                <div class="service-box">
	                    <i class="fa fa-usd fa-5x" aria-hidden="true"></i>
	                    <h3 class="advantage-title-text">Economic Costs</h3>
	                    <p class="text-muted advantage-body-text">Mental illnesses can signal a life-long struggle for students with social and productivity costs as consequences, and in turn contribute to long-term burdens to the health care system. The current economic burden of mental illnesses in Canada is $51 billion per year.</p>
	                </div>
	            </div>
	        </div>

		    <hr class="long" style="margin-top: 50px; margin-bottom: 50px">
		    <h2 class="section-heading text-center">Find Out More</h2>
		    <hr>
	    </div>
	</section>

	<!-- Section for details -->
	<section style="padding: 10px 0 30px 0">
		<div class="board">
			<div class="board-inner">
				<ul class="nav nav-tabs" id="myTab" style="border-bottom: none">
				<div class="liner"></div>
					<li>
						<a href="#home" data-toggle="tab" title="Students">
						<span class="round-tabs one">
							<i class="glyphicon glyphicon-home"></i>
						</span> 
						</a>
					</li>
					<li>
						<a href="#profile" data-toggle="tab" title="Care Providers">
						<span class="round-tabs two">
							<i class="glyphicon glyphicon-user"></i>
						</span> 
						</a>
					</li>
					<li class="active">
						<a href="#messages" data-toggle="tab" title="Timely">
						<span class="round-tabs three">
							<i class="glyphicon glyphicon-gift"></i>
						</span> 
						</a>
					</li>
					<li>
						<a href="#settings" data-toggle="tab" title="Placeholder">
						<span class="round-tabs four">
							<i class="glyphicon glyphicon-comment"></i>
						</span> 
						</a>
					</li>
					<li>
						<a href="#doner" data-toggle="tab" title="Placeholder">
						<span class="round-tabs five">
							<i class="glyphicon glyphicon-ok"></i>
						</span> 
						</a>
					</li>
				</ul>
			</div>

			<div class="tab-content">
				<div class="tab-pane fade in active" id="home">
					<h3 class="head text-center">Welcome to Bootsnipp<sup>™</sup> <span style="color:#f48260;">♥</span></h3>
					<p class="narrow text-center">
						Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
					</p>
					<p class="text-center">
						<a href="{{ url_for('students') }}" class="btn btn-success btn-outline-rounded green">Click For More Details<span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
					</p>
				</div>

				<div class="tab-pane fade" id="profile">
					<h3 class="head text-center">Create a Bootsnipp<sup>™</sup> Profile</h3>
					<p class="narrow text-center">
						Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
					</p>
					<p class="text-center">
						<a href="{{ url_for('providers') }}" class="btn btn-success btn-outline-rounded green">Click For More details<span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
					</p>
				</div>

				<div class="tab-pane fade" id="messages">
					<h3 class="head text-center">Bootsnipp goodies</h3>
					<p class="narrow text-center">
						Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
					</p>
					<p class="text-center">
						<a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
					</p>
				</div>

				<div class="tab-pane fade" id="settings">
					<h3 class="head text-center">Drop comments!</h3>
					<p class="narrow text-center">
						Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
					</p>
					<p class="text-center">
						<a href="" class="btn btn-success btn-outline-rounded green"> start using bootsnipp <span style="margin-left:10px;" class="glyphicon glyphicon-send"></span></a>
					</p>
				</div>

				<div class="tab-pane fade" id="doner">
					<div class="text-center">
						<i class="img-intro icon-checkmark-circle"></i>
					</div>
					<h3 class="head text-center">thanks for staying tuned! <span style="color:#f48260;">♥</span> Bootstrap</h3>
					<p class="narrow text-center">
							Lorem ipsum dolor sit amet, his ea mollis fabellas principes. Quo mazim facilis tincidunt ut, utinam saperet facilisi an vim.
					</p>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</section>
    
	<!-- Section for button to FAQ -->
	<section class="bg-dark" id="faq">
		<div class="container">
	        <div class="row">
	            <div class="col-lg-8 col-lg-offset-2 text-center">
	                <h2 class="section-heading">Frequently Asked Questions</h2>
	                <hr class="primary" style="margin-bottom: 30px">
	            </div>
	            <div class="col-lg-8 col-lg-offset-2">
	                <h4 class="section-heading">FAQ1</h2>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis cursus tellus. Donec venenatis ut magna id ornare. Curabitur pharetra, lorem sed lacinia fringilla, eros enim pellentesque ante, convallis viverra lorem libero ut lorem. Nam finibus rhoncus euismod. Aliquam purus ipsum, consectetur a libero vel, pellentesque sodales orci. Nam vel blandit magna, et pulvinar lectus. Cras gravida consectetur facilisis. Etiam nec pulvinar ipsum. In hac habitasse platea dictumst. Vestibulum facilisis urna tellus, a varius sapien consectetur ut.</p>
	            </div> 
	            <div class="col-lg-8 col-lg-offset-2">
	                <h4 class="section-heading">FAQ2</h2>
	                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam quis cursus tellus. Donec venenatis ut magna id ornare. Curabitur pharetra, lorem sed lacinia fringilla, eros enim pellentesque ante, convallis viverra lorem libero ut lorem. Nam finibus rhoncus euismod. Aliquam purus ipsum, consectetur a libero vel, pellentesque sodales orci. Nam vel blandit magna, et pulvinar lectus. Cras gravida consectetur facilisis. Etiam nec pulvinar ipsum. In hac habitasse platea dictumst. Vestibulum facilisis urna tellus, a varius sapien consectetur ut.</p>
	            </div> 
	        </div>
	    </div>
	</section>

{% endblock %}