{% extends "base-template.html" %}
{% block title %}Screening{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}

{% block navbar %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">Timely</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li>
                  <a href="{{ url_for('render_login') }}">Sign In</a>
              </li>
              <li>
                  <a href="{{ url_for('render_signup') }}">Sign Up</a>
              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
<!-- /.container-fluid -->
</nav>
{% endblock %}

{% block index %}
    <!-- Header image & tagline -->
	<header>
	    <div class="header-content">
	        <div class="header-content-inner">
	            <h1>General Mental Health Screening</h1>
	            <hr class="primary">
	            <p>Timely is a student-led project based at the University of Toronto St. George campus. Our mission is to reduce wait times to provide timely access to professional psychiatric and psychological intervention for post-secondary students in Canada.</p>
	           	<a href="#about" class="btn btn-primary btn-xl" style="min-width: 220px; margin-right: 4%"><span class="glyphicon glyphicon-pencil" aria-hidden="true" style="margin-right: 5px"></span>Submit A Written Bio</a>
                <a href="#about" class="btn btn-primary btn-xl" style="min-width: 220px; margin-left: 4%"><span class="glyphicon glyphicon-headphones" aria-hidden="true" style="margin-right: 5px"></span>Submit A Spoken Bio</a>
	        </div>
	    </div>
	</header>
{% endblock %}