{% extends "base-template.html" %}
{% block title %}Resources{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resource_box.css') }}">
{% endblock %}

{% block navbar %}
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="background-color: black">
  <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ url_for('home') }}">Timely</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">  
              <li>
                  <a href="{{ url_for('render_login') }}">Sign In</a>
              </li>
              <li>
                  <a href="{{ url_for('render_signup') }}">Sign Up</a>
              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
<!-- /.container-fluid -->
</nav>
{% endblock %}

{% block index %}
    <div style="margin-top: 100px;">
    {% for resource in resource_list %}
        <p> Resource Name: {{ resource[0].name }} </p>
        <p> Resource Location: {{ resource[0].location }} </p>
    {% endfor %}
    </div>

    <div class="container" style="margin-bottom: 50px">
        <div class="row">
            <h2 class="text-center">Services Blocks</h2>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <div class="box">
                            <div class="box-content">
                                <h1 class="tag-title">Heading</h1>
                                <hr />
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra quam sollicitudin nibh aliquam finibus. Etiam efficitur felis vel imperdiet varius. Maecenas bibendum elementum molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus finibus semper. Fusce molestie tincidunt leo vel varius. Nam scelerisque nulla feugiat leo consequat, id dignissim sem tincidunt. Proin elit mauris, hendrerit in varius sed, facilisis sit amet neque.</p>
                                <br />
                                <a href="ppc.html" class="btn btn-block btn-primary">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="box">
                            <div class="box-content">
                                <h1 class="tag-title">Heading</h1>
                                <hr />
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra quam sollicitudin nibh aliquam finibus. Etiam efficitur felis vel imperdiet varius. Maecenas bibendum elementum molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus finibus semper. Fusce molestie tincidunt leo vel varius. Nam scelerisque nulla feugiat leo consequat, id dignissim sem tincidunt. Proin elit mauris, hendrerit in varius sed, facilisis sit amet neque.</p>
                                <br />
                                <a href="ppc.html" class="btn btn-block btn-primary">Learn more</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 text-center">
                        <div class="box">
                            <div class="box-content">
                                <h1 class="tag-title">Heading</h1>
                                <hr />
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi pharetra quam sollicitudin nibh aliquam finibus. Etiam efficitur felis vel imperdiet varius. Maecenas bibendum elementum molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris cursus finibus semper. Fusce molestie tincidunt leo vel varius. Nam scelerisque nulla feugiat leo consequat, id dignissim sem tincidunt. Proin elit mauris, hendrerit in varius sed, facilisis sit amet neque.</p>
                                <br />
                                <a href="ppc.html" class="btn btn-block btn-primary">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>           
            </div>
        </div>
    </div>
{% endblock %}