{% extends "base-template.html" %}
{% block title %}Screening Form{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/screening.css') }}">
{% endblock %}

{% block navbar %}
{% endblock %}

{% block index %}
<div class="container">
    <div class="col-md-5">
        <div class="form-area">  
            <form role="form" id="userform" method="POST" action="{{ url_for('screening_results') }}">
            <br style="clear:both">
                <h3 style="margin-bottom: 25px; text-align: center;">Say A Little...</h3>
    			<div class="form-group">
					<input type="text" class="form-control" id="username" name="name" placeholder="My name is..." required>
				</div>
                <div class="form-group">
                    <textarea class="form-control" type="textarea" id="bio" name='bio' placeholder="Right now, I feel..." style="height: 150px !important" required></textarea>
                </div>
                <input type="submit" value="submit" />
            </form>
        </div>
    </div>
</div>
{% endblock %}